@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-100: #86efac;
    --primary-200: #f0fdf5;
    --primary-300: #19725D;
    --accent-100: #f5be0b;
    --accent-200: #fef1c7;
    --text-100: #292524;
    --text-200: #78716c;
    --bg-100: #fafaf9;
    --bg-200: #f5f5f4;
    --bg-300: #E0E2E5;
}

body{
    width: 100vw !important;
    overflow-x: hidden; 
    font-family: "Open Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-variation-settings: "wdth" 100 !important;
    background-color: var(--bg-100);
    color: var(--text-100);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-100);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-300);
    border-radius: 15px;
}

.container-dashboard{
    width: 100%;
    height: 100vh !important;
    overflow: hidden;
    padding: 40px 0;
}


.main-dashboard{
    overflow-y: scroll;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-dashboard-section{
    width: 100%;
    padding: 30px 0 0 0;
    overflow-y: scroll;
}

.nav-dashboard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-dashboard .nav-dashboard-section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav-dashboard .nav-dashboard-section-title h1 {
    font-size: 1.5rem;
    font-weight: 500;
}
.nav-dashboard .nav-dashboard-section-title h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-200);
}

.nav-dashboard-btn-shop {
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--primary-300);
    margin: 0 0 0 20px;
    padding: 10px 20px;
    border: 1px solid var(--primary-300);
    background-color: var(--bg-100);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    transition: all .5s;
}

.nav-dashboard-btn-shop:hover {
    background-color: var(--primary-100);
}


.aside-dashboard {
    height: 100%;
    border-right: 1px solid var(--text-200);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.aside-dashboard .aside-dashboard-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 60px
}

.aside-dashboard .aside-dashboard-section-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}

.aside-dashboard .aside-dashboard-section-avatar .avatar-user {
    width: 50px;
    height 50px;
    border-radius: 50%;
}
.aside-dashboard .aside-dashboard-section-avatar .name-user {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0 5px 0;
}
.aside-dashboard .aside-dashboard-section-avatar .email-user {
    font-size: .8rem;
    font-weight: 300;
    color: var(--text-200)
}

.aside-dashboard .aside-dashboard-section .title-aside {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0 8px 20px;
}

.aside-dashboard .aside-dashboard-section .subtitle-aside {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 8px 20px;
    color: var(--text-200)
}

.aside-dashboard .aside-dashboard-section .btn-aside {
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--text-200);
    padding: 15px 30px;
    background-color: var(--bg-100);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    transition: all .5s;
}

.aside-dashboard .aside-dashboard-section .btn-aside .icon-svg {
    padding: 10px;
    background-color: var(--bg-300);
    border-radius: 10px
}

.aside-dashboard .aside-dashboard-section .btn-aside:hover .icon-svg {
    background-color: var(--primary-100) !important;
    color: var(--primary-300) !important;
}

.aside-dashboard .aside-dashboard-section .btn-aside:hover {
    color: var(--primary-300) !important;
}

.aside-dashboard .aside-dashboard-section .btn-logaut {
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--accent-100);
    margin: 0 0 0 20px;
    padding: 10px 20px;
    border: 1px solid var(--accent-100);
    background-color: var(--bg-100);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    transition: all .5s;
}

.aside-dashboard .aside-dashboard-section .btn-logaut:hover {
    background-color: var(--accent-200);
}










    a, .btn-link {
        color: #0071c1;
    }


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "A ocurrido un error."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: var(--primary-300);
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Cargando...");
    }

code {
    color: var(--primary-100;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}