@page "/cart/pendiente"

<section class="container-fluid w-100 h-100">
    <section class="row w-100 h-100">
        <p class="fs-4 fw-semibold text-secondary my-5 ms-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8z" />
            </svg>
            ...~/Cart/Pendiente
        </p>
        <section class="col-12 w-100 h-100 d-flex justify-content-center align-items-center flex-wrap mb-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-exclamation-octagon text-warning" viewBox="0 0 16 16">
                <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z" />
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
            </svg>
            <div class="ms-4">
                <h1 class="fs-1 fw-bolder text-warning">
                    Tu pago se encuentra pendiente.

                </h1>
                <p class="fs-5 fw-normal text-dark">
                    Lamentamos lo ocurrido, actualmente tu pago esta <br/>
                    pendiente de aprobacion por la entidad emisora tu <br />
                    tarjeta.
                </p>
            </div>
        </section>
    </section>
</section>