<footer class="col-12 w-100 bg-dark text-light" style="height: 5%">
    <section class="container-fluid w-100 h-100">
        <section class="row w-100 h-100">
            <article class="col-12 text-center h-100 d-flex justify-content-center align-items-center">
                <h6 style="font-size: 14px">
                    © 2025/2026 Dino Shop. Todos los derechos reservados. Desarrollado por <a class="text-decoration-none text-primary" href="https://augustogutierrez.netlify.app/">Augusto Gutierrez .NET Developer</a>
                </h6>
            </article>
        </section>
    </section>
</footer>

@code {

}
